.app{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #505050;
    overflow: hidden;
}

#display-name{
    background-color: var(--background-1);
    color: var(--text);
    padding: 10px;
    font-size: 20px;
    z-index: 1;
}

.Button:hover{
    cursor: pointer;
    filter: opacity(75%);
}