.app{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--505050);
    overflow: hidden;
    position: relative;
}

.app iframe{
    display: inline-block;
}

.Button:hover{
    cursor: pointer;
    filter: opacity(75%);
}

.screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
}