.app iframe {
    display:block;
    margin: 0 auto;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #505050;
}

#display-name{
    background-color: var(--background-1);
    color: var(--text);
    padding: 10px;
    font-size: 20px;
}

.Button:hover{
    cursor: pointer;
    filter: opacity(75%);
}