:root {
    --background-1: #e0e0e0;
    --background-2: #f4f4f4;
    --background-3: #fff;
    --text: #000;
    --window-bg: #f1f1f1;
    --window-fg: #000;
    --primary: 	#4300f1;
    --primary-hover: #4300f1;
    --primary-focus: #4300f1;
    --primary-inverse: #fff;
    --secondary: #fff;
    --secondary-hover: hsl(0, 0%, 80%);
    --secondary-focus: rgba(89, 107, 120, 0.125);
    --secondary-inverse: #000000;
    --delete: #ff0000;
    --toolbar-bg: #333;
    --toolbar-fg: #fff;
    --toolbar-bg-hover: #505050;
    --toolbar-fg-hover: #fff;
    --dropdown-bg: #f9f9f9;
    --dropdown-fg: #000;
    --dropdown-bg-hover: #ddd;
    --dropdown-fg-hover: #000;
}