body{
    background-color: var(--background-1);
    color: var(--text);
}

#virtual-screen{
    border: 1px dotted #000;
}

#virtual-screen input, #virtual-screen select, #virtual-screen textarea, #virtual-screen iframe , #virtual-screen label{
    pointer-events:none;
}

.selected{
    box-shadow: 0px 0px 0px 8px rgba(0,217,255,0.2), 0px 0px 0px 4px rgba(0,217,255,0.4);
}

.map-screen, .map-children{
    user-select: none;
    border: 2px dotted;
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--map-bg);
    color: var(--map-fg);
    padding-top: 4px;
    padding-bottom: 4px;
}

.map-children{
    padding-left: 32px;
}

.map-screen{
    font-weight: bold;
    padding-left: 4px;
}

.map-children:hover, .map-screen:hover{
    background-color: var(--map-bg-hover);
    color: var(--map-fg-hover);
}

.map-selected, .map-selected:hover{
    background-color: var(--map-bg-active);
    color: var(--map-fg-active);
    border: var(--map-border);
}

#virtual-screen{
    display:block;
    margin: auto auto;
}

#editor-window{
    opacity: 0.5;
}

#editor-window:hover{
    opacity: 1;
}