body{
    background-color: var(--e0e0e0);
}

#virtual-screen{
    border: 1px dotted var(--000);
    display:block;
    margin: auto auto;
}

#virtual-screen input, #virtual-screen select, #virtual-screen textarea, #virtual-screen iframe , #virtual-screen label{
    pointer-events:none;
}

.selectedItem{
    box-shadow: var(--selected);
}

.map-screen, .map-children{
    user-select: none;
    border: 2px dotted;
    border-color: rgba(0, 0, 0, 0);
    padding-top: 4px;
    padding-bottom: 4px;
}

.map-children{
    padding-left: 32px;
}

.map-screen{
    font-weight: bold;
    padding-left: 4px;
}

.map-children:hover, .map-screen:hover{
    box-shadow: inset 0 0 1000px 1000px var(--black-02);
}

.map-selected, .map-selected:hover{
    box-shadow: inset 0 0 1000px 1000px var(--black-02);
    border: 2px dotted var(--000);
}

#editor-window{
    opacity: 0.5;
}

#editor-window:hover{
    opacity: 1;
}