/*
    To change the theme of Other Apps, edit the import url below
    For example:
    @import url("themes/dark.css");
    @import url("themes/gruvbox.css");
*/
@import url("themes/light.css");
@import url("webkit.css");
@import url("virtual-screen.css");
@font-face {
    font-family: 'icon-worksregular';
    src: url('/static/fonts/icon-works-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurulent-sans-mono';
    src: url('/static/fonts/AurulentSansMNerdFontMono-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.logo{
    content: var(--logo);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

a{
    color: var(--a);
}

*{
    box-sizing: border-box;
}

#app-list {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
    padding: 12px;
}

.app-row {
	display: flex;
	font-size: 20px;
	padding: 8px;
}

.app-row:hover{
    background-color: var(--black-02);
}

.primary{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

.f00{
    background-color: var(--f00);
    color: white;
}

button{
    border-radius: 0;
    border: 1px solid var(--black-02);
    background-color: var(--black-02);
    color: var(--fg);
    min-width: 64px;
    padding: 6px 12px 6px 12px;
}

button:hover, input[type="submit"]:hover{
    box-shadow: inset 0 0 1000px 1000px var(--white-05);
}

#virtual-screen input, #virtual-screen textarea{
    background-color: #fff;
    color: #000;
}

.vertical-container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

#control-button *{
    font-size: 12px;
    resize: none;
    width: 100%;
    table-layout: fixed;
    overflow-x: hidden;
}

#control-button input, #control-button textarea, .form-table input{
    padding: 2px 6px;
    margin: 2px 0;
    box-sizing: border-box;
}

input:not(.error), textarea{
    color: var(--input-fg);
}

input, textarea, select{
    font-family: var(--font);
    background-color: var(--white-05);
    color: var(--fg);
    border-radius: 0;
    border: 1px solid var(--black-02);
}

#editor{
    height: 100%;
    overflow: hidden;
}

#text-editor {
    font-size: 24px;
    padding: 0px;
    width: 100%;
    height: 400px;
}

.error{
    color: var(--f00);
}

.icon{
    display: inline-block;
    width: 20px;
    margin-right: 4px;
    text-align: center;
    font-family: "icon-worksregular";
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar, .navbar a, .dropdown .dropbtn, .dropdown-content{
    background-color: var(--toolbar-bg);
    color: var(--toolbar-fg);
    z-index: 998;
}

.dropdown-content hr{
    border-color: var(--toolbar-bg);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    box-shadow: inset 0 0 1000px 1000px var(--white-02);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    max-height: 450px;
    overflow-y: scroll;
}

.dropdown-content a {
    float: none;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    background-color: var(--bg-2);
    width: 256px;
    border-right: 1px solid var(--black-02);
    border-left: 1px solid var(--black-02);
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sidebar-header{
    font-size: 24px;
}

.home{
    background-color: var(--primary-bg) !important;
    color: var(--primary-fg) !important;
}

.Children{
    position: absolute;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    box-sizing: border-box;
    user-select: none;
    font-size: 15px;
}

.Button{
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 64px;
}

.Screen{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

dialog{
    font-family: var(--font);
    color: var(--fg);
    background-color: var(--bg);
    border-color: var(--000);
}

dialog input, dialog select, dialog textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 6px;
    font-family: var(--font);
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

dialog button{
    margin-right: 6px;
    margin: 6px;
}

.flex{
    display: flex;
}