@import url("themes/light.css");
@import url("webkit.css");
@import url("virtual-screen.css");
@font-face {
    font-family: 'icon-worksregular';
    src: url('/static/fonts/icon-works-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurulent-sans-mono';
    src: url('/static/fonts/AurulentSansMNerdFontMono-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.logo{
    content: var(--logo);
}

body{
    color: var(--text);
    height: 100vh;
    margin: 0;
    font-family: var(--font);
}

a{
    color: var(--links);
}

#app-list{
    margin: 32px;
}

#app-list table {
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
}

#app-list td{
    padding: 14px;
}

.app-row{
    background-color: var(--list-bg);
    color: var(--list-fg);
}

.app-row:hover{
    background-color: var(--list-bg-hover);
    color: var(--list-fg-hover);
}

.primary{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: var(--primary-border);
}

.primary:hover{
    background-color: var(--primary-bg-hover);
    color: var(--primary-fg-hover);
    border: var(--primary-border-hover);
}

.primary:active{
    background-color: var(--primary-bg-active);
    color: var(--primary-fg-active);
    border: var(--primary-border-active);
}

.delete{
    background-color: var(--delete);
    color: white;
}

button{
    border-radius: var(--button-radius);
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    font-size: 16px;
    border: var(--secondary-border);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font);
}

button:hover{
    background-color: var(--secondary-bg-hover);
    color: var(--secondary-fg-hover);
    border: var(--secondary-border-hover);
    cursor:pointer;
}

button:active{
    background-color: var(--secondary-bg-active);
    color: var(--secondary-fg-active);
    border: var(--secondary-border-active);
}

.screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#virtual-screen input, #virtual-screen textarea{
    background-color: #fff;
    color: #000;
}

.vertical-container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

#formula-bar{
    background-color: #f1f1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#control-button *{
    font-size: 12px;
    resize: none;
    width: 100%;
    table-layout: fixed;
    overflow-x: hidden;
}

.form-table *{
    font-size: 16px;
    resize: none;
    width: 100%;
    table-layout: fixed;
    /*overflow: hidden;*/
}

#control-button input, #control-button textarea, .form-table input{
    padding: 2px 6px;
    margin: 2px 0;
    box-sizing: border-box;
}

input:not(.error), textarea{
    color: var(--input-fg);
}

input, textarea{
    background-color: var(--input-bg);
    border-radius: var(--input-radius);
    border: var(--input-border);
}

#editor{
    height: 100%;
    overflow: hidden;
}

.window{
    position: absolute;
    z-index: 999;
    margin-top: 30px;
    padding: 10px;
    width: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--window-bg);
    color: var(--window-fg);
    border: var(--window-border);
    border-radius: var(--window-radius);
    box-shadow: var(--window-shadow);
}

#text-editor {
    font-size: 24px;
    padding: 0px;
    width: 100%;
    height: 400px;
}

.error{
    color: var(--delete);
}

.icon{
    display: inline-block;
    width: 20px;
    margin-right: 4px;
    text-align: center;
    font-family: "icon-worksregular";
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--toolbar-bg);
    color: var(--toolbar-fg);
    font-family: Arial;
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: var(--toolbar-fg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.primary {
    color: var(--primary-fg);
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--toolbar-fg);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--toolbar-bg-hover);
    color: var(--toolbar-fg-hover);
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 200px;
    max-height: 420px;
    overflow-y: scroll;
    box-shadow: var(--dropdown-shadow);
    border: var(--dropdown-border);
    border-radius: var(--dropdown-radius);
    z-index: 999;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--dropdown-fg);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--dropdown-bg-hover);
    color: var(--dropdown-fg-hover);
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#about-icon{
    width: 100%;
    height: 128px;
    background-image: url("/static/icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar {
    background-color: var(--sidebar-bg);
    width: 256px;
    border-right: var(--sidebar-border);
    border-left: var(--sidebar-border);
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sidebar-header{
    font-size: 24px;
}

.title{
    font-size: 40px;
}

.subtitle{
    font-size: 32px;
}

.wide{
    width: 300px;
}