:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --logo: url("/static/icon.svg");

    --background-1:             #e0e0e0;
    --background-2:             #f4f4f4;
    --background-3:             #fff;
    
    --text:                     #000;
    --links:                    #4300f1;

    --window-bg:                #f1f1f1;
    --window-fg:                #000;
    --window-border:            1px solid rgba(0, 0, 0, 0.2);
    --window-radius:            0;

    --map-bg:                   rgba(0,0,0,0);
    --map-fg:                   #000;
    --map-bg-hover:             #dbdbdb;
    --map-fg-hover:             #000;
    --map-bg-active:            #dbdbdb;
    --map-fg-active:            #000;
    --map-border:               2px dotted #000;

    --primary-bg: 	            #4300f1;
    --primary-fg:               #fff;
    --primary-bg-hover:         #505050;
    --primary-fg-hover:         #fff;
    --primary-bg-active:        #fff;
    --primary-fg-active:        #000;

    --secondary-bg:             rgba(0,0,0,0);
    --secondary-fg:             #000;
    --secondary-bg-hover:       #c2c2c2;
    --secondary-fg-hover:       #000;
    --secondary-bg-active:      #c2c2c2;
    --secondary-fg-active:      #000;

    --sidebar-bg:               #f4f4f4;
    --sidebar-fg:               #000;
    --sidebar-border:           1px solid rgba(0, 0, 0, 0.2);

    --delete:                   #ff0000;

    --toolbar-bg:               #333333;
    --toolbar-fg:               #fff;
    --toolbar-bg-hover:         #505050;
    --toolbar-fg-hover:         #fff;
    
    --wk-scrollbar-bg:          #f4f4f4;
    --wk-scrollbar-fg:          #c2c2c2;

    --button-border:            2px dotted rgba(0, 0, 0, 0);
    --button-radius:            0;

    --input-bg:                 #fff;
    --input-fg:                 #000;
    --input-border:             1px solid rgba(0, 0, 0, 0.2);
    --input-radius:             0;

    --list-bg:                  #fff;
    --list-fg:                  #000;
    --list-bg-hover:            #c2c2c2;
    --list-fg-hover:            #000;    
}