:root {
    --logo: url("/static/icon.svg");

    --000: #000;
    --ddd: #ddd;
    --505050: #505050;
    --e0e0e0: #e0e0e0;
    --aaaaaa: #aaaaaa;
    --f00: #f00;

    --bg: #f3f2f1;
    --fg: #000;
    --bg-2: #f4f4f4;
    --fg-2: #000;

    --a: #00E;
    
    --primary-bg: #4300f1;
    --primary-fg: rgb(255, 255, 255);
    
    --toolbar-bg:#333333;
    --toolbar-fg:#fff;

    --black-005: rgba(0, 0, 0, 0.05);
    --black-01: rgba(0, 0, 0, 0.1);
    --black-02: rgba(0, 0, 0, 0.2);
    --black-05: rgba(0, 0, 0, 0.5);

    --white-005: rgba(255, 255, 255, 0.05);
    --white-01: rgba(255, 255, 255, 0.1);
    --white-02: rgba(255, 255, 255, 0.2);
    --white-05: rgba(255, 255, 255, 0.5);

    --selected: 0px 0px 0px 8px rgba(0,217,255,0.2), 0px 0px 0px 4px rgba(0,217,255,0.4);  
}