<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <title>{{ id }} - Other Apps</title>
    <style>
        body{
            background-color: var(--background-1);
            color: var(--text);
        }
    </style>
</head>
<body>
    <div class="window" id="settings-window" style="width: 30%; visibility: hidden;">
        <div class="horizontal-container space-between">
            <span style="font-size: 24px;">App Settings</span>
            <button onclick="document.getElementById('settings-window').style.visibility = 'hidden';">X</button>
        </div>
        <div class="form-table" id="table-app">
            <table>
                <tr id="tr-info-app-name">
                    <td>Display Name</td>
                    <td><input type="text" id="edit-info-app-name"></td>
                </tr>
                <tr id="tr-info-app-w-h">
                    <td>Screen Size (W / H)</td>
                    <td>
                        <table>
                            <td><input type="number" id="edit-info-app-w" min="0"></td>
                            <td><input type="number" id="edit-info-app-h" min="0"></td>
                        </table>
                    </td>
                </tr>
                <tr id="tr-info-default-screen">
                    <td>Default Screen</td>
                    <td><select id="edit-info-default-screen">
                    </select></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="window" id="editor-window" style="visibility: hidden;">
        <div class="horizontal-container space-between">
            <div>
                <span id="editor-title" style="font-size: 24px;">Code editor</span>
            </div>
            <button onclick="document.getElementById('editor-window').style.visibility = 'hidden'; can_click = true;">X</button>
        </div>
        <div id="text-editor"></div>
    </div>
    <div class="vertical-container">
        <div id="tool-bar" class="navbar">
            <a class="home" href="{{ url_for('index') }}">Other Apps</a>
            <a href="#" onclick="save()" id="tool-bar-save">Save</a>
            <a href="#" onclick="test()" id="tool-bar-test">Test</a>
            <div class="dropdown">
                <a class="dropbtn">Insert</a>
                <div id="tool-bar-insert" class="dropdown-content">
                    <a id="a-screen" href="#" onclick="insert('screen');">Screen</a>
                    <a id="a-label" href="#" onclick="insert('label');">Label</a>
                    <a id="a-button" href="#" onclick="insert('button');">Button</a>
                </div>
            </div>
            <a href="#" onclick="document.getElementById('settings-window').style.visibility = 'visible'">App Settings</a>
        </div>
        <div id="editor">
            <div class="horizontal-container space-between">
                <div id="nav-sidebar" class="sidebar">
                    <span class="sidebar-header">Tree View</span>
                    <hr>
                    <div>
                        <div id="control-map">
                        </div>
                    </div>
                </div>
                <div id="editor-screen" style="flex: 1 1; display: flex; overflow: scroll;">
                    <div id="virtual-screen"></div>
                </div>
                <div id="control-sidebar" class="sidebar">
                    <span id="info-type" class="sidebar-header"></span><br/>
                    <hr/>
                    <div id="control-button">
                        <div id="table-id" style="overflow-y: hidden; height: 0;">
                            <table id="table-id-options">
                                <tr id="tr-info-name">
                                    <td>Name (ID)</td>
                                    <td><input type="text" id="edit-info-name"/></td>
                                </tr>
                            </table>
                        </div>
                        <div id="table-text" style="overflow-y: hidden; height: 0;">
                            <table id="table-text-options">
                                <tr id="tr-info-text">
                                    <td>
                                        Text
                                    </td>
                                    <td>
                                        <textarea id="edit-info-text" rows="4" spellcheck="false" mode="html" placeholder="Text"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="table-show" style="overflow-y: hidden; height: 0;">
                            <hr>
                            <table id="table-show-options">
                                <tr id="tr-info-x-y">
                                    <td>Position (X / Y)</td>
                                    <td>
                                        <table>
                                            <td><input type="number" id="edit-info-x" min="0"></td>
                                            <td><input type="number" id="edit-info-y" min="0"></td>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="tr-info-w-h">
                                    <td>Size (W / H)</td>
                                    <td>
                                        <table>
                                            <td><input type="number" id="edit-info-w" min="32"></td>
                                            <td><input type="number" id="edit-info-h" min="32"></td>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="tr-info-z">
                                    <td>Z-Index</td>
                                    <td><input type="number" id="edit-info-z" min="-999" max="998"></td>
                                </tr>
                            </table>
                        </div>
                        <div id="table-decor" style="overflow-y: hidden; height: 0;">
                            <hr>
                            <table id="table-decor-options">
                                <tr id="tr-info-fill">
                                    <td>Fill</td>
                                    <td><input type="color" id="edit-info-fill"></td>
                                </tr>
                                <tr id="tr-info-color">
                                    <td>Color</td>
                                    <td><input type="color" id="edit-info-color"></td>
                                </tr>
                                <tr id="tr-info-font-size">
                                    <td>Font Size</td>
                                    <td><input type="number" id="edit-info-font-size" min="0"></td>
                                </tr>
                                <tr id="tr-info-border">
                                    <td>Border</td>
                                    <td><input type="text" id="edit-info-border"></td>
                                </tr>
                                <tr id="tr-info-border-r">
                                    <td>Border Radius</td>
                                    <td><input type="number" id="edit-info-border-r" min="0"></td>
                                </tr>
                                <tr id="tr-info-bgimage">
                                    <td>Background Image</td>
                                    <td><textarea id="edit-info-bgimage" rows="4" spellcheck="false" mode="html" placeholder="Background Image"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div id="table-screen" style="overflow-y: hidden; height: 0;">
                            <table id="table-screen-options">
                                <tr id="tr-info-bgcolor">
                                    <td>Fill</td>
                                    <td><input type="color" id="edit-info-bgcolor"></td>
                                </tr>
                                <tr id="tr-info-onvisible">
                                    <td>On Visible</td>
                                    <td><textarea id="edit-info-onvisible" rows="4" spellcheck="false" mode="javascript" placeholder="On Visible"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div id="table-button" style="overflow-y: hidden; height: 0;">
                            <hr>
                            <table id="table-button-options">
                                <tr id="tr-info-onclick">
                                    <td>
                                        On Click
                                    </td>
                                    <td>
                                        <textarea id="edit-info-onclick" rows="4" spellcheck="false" mode="javascript" placeholder="On Click"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr>
                        <button style="padding: 0; font-size: 14px;" onclick="del(selected.getAttribute('id')); refresh_map();"><span style="font-family: aurulent-sans-mono; font-size: 14px;">󰩺 </span>Delete this item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/interact.js"></script>
    {% for addon in addons %}
    <script src="{{addon}}"></script>
    {% endfor %}
    <script src="/static/js/src-min-noconflict/ace.js"></script>
    <script src="/static/js/src-min-noconflict/mode-javascript.js"></script>
    <script src="/static/js/src-min-noconflict/mode-html.js"></script>
    <script src="/static/js/sortable.min.js"></script>
    <script src="/static/js/global.js"></script>
    <script>
        var screens;
        var currentScreen;
        var screen_childrens;
        var currentId = 0;

        var aceEditor = ace.edit("text-editor");
        aceEditor.session.setUseWrapMode(true);
        aceEditor.setOption("showPrintMargin", false);
        
        var current_ver = "{{ ver }}";
        var urlsave = "/save";
        var urltest = "/play/{{ id }}/test";
        var can_click = true;
        var xml = `{{ xmlfile | safe }}`;
        var selected;
        var textarea_selected;

        const editorWindow =        document.getElementById("editor-window");
        const virtualScreen =       document.getElementById("virtual-screen");
        var map =                   document.getElementById("control-map");
        
        const tableApp =            document.getElementById("table-app");
        const tableId =             document.getElementById("table-id");
        const tableText =           document.getElementById("table-text");
        const tableShow =           document.getElementById("table-show");
        const tableDecor =          document.getElementById("table-decor");
        const tableScreen =         document.getElementById("table-screen");
        const tableButton =         document.getElementById("table-button");

        const infoAppName =         document.getElementById("edit-info-app-name");
        const infoAppW =            document.getElementById("edit-info-app-w");
        const infoAppH =            document.getElementById("edit-info-app-h");
        const infoDefaultScreen =   document.getElementById("edit-info-default-screen");
        const infoType =            document.getElementById("info-type");
        const infoName =            document.getElementById("edit-info-name");
        const infoText =            document.getElementById("edit-info-text");
        const infoX =               document.getElementById("edit-info-x");
        const infoY =               document.getElementById("edit-info-y");
        const infoW =               document.getElementById("edit-info-w");
        const infoH =               document.getElementById("edit-info-h");
        const infoZ =               document.getElementById("edit-info-z");
        const infoFill =            document.getElementById("edit-info-fill");
        const infoColor =           document.getElementById("edit-info-color");
        const infoFontSize =        document.getElementById("edit-info-font-size");
        const infoBorder =          document.getElementById("edit-info-border");
        const infoBorderRadius =    document.getElementById("edit-info-border-r");
        const infoBgImage =         document.getElementById("edit-info-bgimage");
        const infoBgColor =         document.getElementById("edit-info-bgcolor");
        const infoOnVisible =       document.getElementById("edit-info-onvisible");
        const infoOnClick =         document.getElementById("edit-info-onclick");

        // Custom events
        const tableIdChanged =      new Event("table-id-changed");
        const tableTextChanged =    new Event("table-text-changed");
        const tableShowChanged =    new Event("table-show-changed");
        const tableDecorChanged =   new Event("table-decor-changed");
        const tableScreenChanged =  new Event("table-screen-changed");
        const tableButtonChanged =  new Event("table-button-changed");

        map.addEventListener('click', (e) => {
            if (can_click){
                infoName.classList.remove("error");
                click(document.getElementById(e.target.getAttribute("point")));
            }     
        });
        map.addEventListener('dblclick', (e) => click_map(e.target));
        virtualScreen.addEventListener('click', (e) => {
            if (can_click){
                infoName.classList.remove("error");
                click(e.target);
            }
        });
        tableApp.addEventListener('input', () => {
            virtualScreen.style.width = infoAppW.value + 'px';
            virtualScreen.style.minWidth = infoAppW.value + 'px';
            virtualScreen.style.height = infoAppH.value + 'px';
        })
        tableId.addEventListener('input', () => {
            old_name = selected.getAttribute("id");
            valid_name.lastIndex = 0;
            infoName.classList.remove("error");
            if(document.getElementById(infoName.value) != null || !valid_name.test(infoName.value)){
                infoName.classList.add("error");
            } else {
                rename(old_name, infoName.value);
            }
            refresh_map();
            document.dispatchEvent(tableIdChanged);
        })
        tableText.addEventListener('input', () => {
            selected.innerHTML = infoText.value;
            document.dispatchEvent(tableTextChanged);
        })
        tableShow.addEventListener('input', () => {
            selected.setAttribute("data-x", infoX.value);
            selected.setAttribute("data-y", infoY.value);
            selected.style.transform = 'translate(' + infoX.value +'px, '+ infoY.value + 'px)';
            selected.style.width = infoW.value + 'px';
            selected.style.height = infoH.value + 'px';
            selected.style.zIndex = infoZ.value;
            document.dispatchEvent(tableShowChanged);
        })
        tableDecor.addEventListener('input', () => {
            selected.style.backgroundColor = infoFill.value;
            selected.style.color = infoColor.value;
            selected.style.fontSize = infoFontSize.value + 'px';
            selected.style.border = infoBorder.value;
            selected.style.borderRadius = infoBorderRadius.value + 'px';
            selected.style.backgroundImage = infoBgImage.value;
            document.dispatchEvent(tableDecorChanged);
        })
        tableScreen.addEventListener('input', () => {
            currentScreen.style.backgroundColor = infoBgColor.value;
            selected.setAttribute("onVisible", infoOnVisible.value);
            document.dispatchEvent(tableScreenChanged);
        })
        tableButton.addEventListener('input', () => {
            selected.setAttribute("onClickALT", infoOnClick.value);
            document.dispatchEvent(tableButtonChanged);
        })
        document.querySelectorAll('textarea').forEach(item => {
            item.addEventListener('dblclick', (e) => {
                textarea_selected = item;
                document.getElementById("editor-title").innerHTML = selected.getAttribute("id") + ' ' + textarea_selected.getAttribute("placeholder");
                aceEditor.setValue(textarea_selected.value);
                aceEditor.session.setMode("ace/mode/" + textarea_selected.getAttribute("mode"));
                editorWindow.style.visibility = 'visible';
                can_click = false;
            })
        })
        aceEditor.on('input', function() {
            textarea_selected.value = aceEditor.getValue();
            textarea_selected.dispatchEvent(new Event('input', {bubbles:true}));
        });

        function generateXML(){
            map_list = Array.from(document.querySelectorAll("[id^=map-screen-for-]"));

            screen_list = new Array;
            
            for (let x = 0; x < map_list.length; x++)
                screen_list.push(document.getElementById(map_list[x].getAttribute("id").split("-").pop()));
            
            var xmlDoc = document.implementation.createDocument(null, "App");
            var xmlDocRoot = xmlDoc.getElementsByTagName("App")[0];

            xmlDocRoot.setAttribute("DisplayName", infoAppName.value);
            xmlDocRoot.setAttribute("DefaultScreen", infoDefaultScreen.value);
            xmlDocRoot.setAttribute("Width", infoAppW.value);
            xmlDocRoot.setAttribute("Height", infoAppH.value);
            xmlDocRoot.setAttribute("OAVer", current_ver);

            for (i = 0; i < screen_list.length; i++){
                
                current_screen_childrens = screen_list[i].querySelectorAll(":scope > div");

                var xmlDocScreen = xmlDoc.createElement("Screen");
                xmlDocScreen.setAttribute("Name", screen_list[i].getAttribute("id"));
                xmlDocScreen.setAttribute("Style", encodeURI(screen_list[i].getAttribute('style')));
                xmlDocScreen.setAttribute("OnVisible", encodeURI(screen_list[i].getAttribute('onVisible')));
        
                for (x = 0; x < current_screen_childrens.length; x ++){
                    var xmlDocItem = xmlDoc.createElement("Children");
                    
                    xmlDocItem.setAttribute("Type", current_screen_childrens[x].getAttribute('type'));
                    xmlDocItem.setAttribute("Name", current_screen_childrens[x].getAttribute('id'));
                    xmlDocItem.setAttribute("Text", encodeURI(current_screen_childrens[x].innerHTML));
                    xmlDocItem.setAttribute("X", current_screen_childrens[x].getAttribute('data-x'));
                    xmlDocItem.setAttribute("Y", current_screen_childrens[x].getAttribute('data-y'));
                    xmlDocItem.setAttribute("OnSelect", encodeURI(current_screen_childrens[x].getAttribute('onClickALT')));
                    xmlDocItem.setAttribute("Style", encodeURI(current_screen_childrens[x].getAttribute('style')));
                    
                    xmlDocScreen.appendChild(xmlDocItem);
                }
                xmlDocRoot.appendChild(xmlDocScreen);
            }
            return new XMLSerializer().serializeToString(xmlDoc);
        }

        async function test(){
            const res = await fetch(urlsave, {
                method: "POST",
                body: JSON.stringify({
                    "id": "{{ id }}",
                    "xmldata": generateXML(),
                    "screen" : "test"
                }),
                headers: {"Content-type": "application/json; charset=UTF-8"}
            })
            const data = await res.json();
            window.open(urltest, '_blank').focus();
        }

        async function save() {
            const res = await fetch(urlsave, {
                method: "POST",
                body: JSON.stringify({
                    "id": "{{ id }}",
                    "xmldata": generateXML(),
                    "screen" : "{{ c }}"
                }),
                headers: {"Content-type": "application/json; charset=UTF-8"}
            })
            const data = await res.json();
            alert("App saved");
            document.dispatchEvent(new Event("app-saved"));
        }

        function click_map(item){
            if (item.getAttribute("class").split(' ')[0] == "map-screen"){
                if (document.getElementById("map-childrens-for-" + item.getAttribute("point")).getAttribute("expand") == "true"){
                    document.getElementById("map-childrens-for-" + item.getAttribute("point")).setAttribute("expand", "false");
                } else {
                    document.getElementById("map-childrens-for-" + item.getAttribute("point")).setAttribute("expand", "true")
                }
                refresh_map();
            }
        }

        function refresh_screens(){
            screen_list = virtualScreen.querySelectorAll(":scope > div");
            currentDefaultScreen = infoDefaultScreen.value;
            infoDefaultScreen.innerHTML = "";
            for (i = 0; i < screen_list.length; i ++){
                if (screen_list[i].getAttribute("id") == currentDefaultScreen){
                    infoDefaultScreen.innerHTML += '<option value="' + screen_list[i].getAttribute("id") + '"selected >' + screen_list[i].getAttribute("id") + '</option>'
                } else {
                    infoDefaultScreen.innerHTML += '<option value="' + screen_list[i].getAttribute("id") + '">' + screen_list[i].getAttribute("id") + '</option>'
                }
                
            }
        }

        function changeScreen(screen_name){
            currentScreen = screen_name;

            Array.from(virtualScreen.getElementsByClassName("Screen")).forEach(
                (el) => {
                    el.style.height = "0";
                }
            )
            currentScreen.style.height = "100%";
        }

        function rename(oldid, newid) {
            element = document.getElementById(oldid);
            while(document.getElementById(newid) != null){
                newid = newid + "_1";
            }
            if (element.getAttribute("type") == "Screen"){
                document.getElementById("map-screen-for-" + oldid).setAttribute("id", "map-screen-for-" + newid);
                document.getElementById("map-children-" + oldid).setAttribute("point", newid);
                document.getElementById("map-children-" + oldid).innerHTML = "<span class='icon'>® </span>" + newid;
                document.getElementById("map-children-" + oldid).setAttribute("id", "map-children-" + newid);
                document.getElementById("map-childrens-for-" + oldid).setAttribute("id", "map-childrens-for-" + newid);
                element.setAttribute("id", newid);
            } else {
                element.setAttribute("id", newid);
            }
            refresh_map();
            return newid;
        }
        
        function del(id){
            element = document.getElementById(id);
            if (element.getAttribute('class').split(' ')[0] == "Screen"){
                if (confirm("Are you sure you want to delete " + element.getAttribute("Id") + "?")) {
                    document.getElementById("map-screen-for-" + currentScreen.getAttribute("id")).remove();
                    document.getElementById(currentScreen.getAttribute("id")).remove();
                    document.dispatchEvent(new CustomEvent("item-deleted", {
                        "detail": {
                            "id": id,
                            "type": element.getAttribute('class').split(' ')[0],
                            "element": element
                        }
                    }));
                }
            }else{
                element.remove();
                click(document.getElementById(currentScreen.getAttribute("id")));
                document.dispatchEvent(new CustomEvent("item-deleted", {
                    "detail": {
                        "id": id,
                        "type": element.getAttribute('class').split(' ')[0],
                        "element": element
                    }
                }));
            }
        }

        function click(item) {
            if (item.parentElement != virtualScreen){
                while(!item.parentElement.getAttribute("class"))
                    item = item.parentElement;
                while(item.parentElement.getAttribute("class").split(" ")[0] != "Screen")
                    item = item.parentElement;
            }

            selected = item;

            switch(item.getAttribute("type")){
                case "Screen":
                    tableId.style.height = "auto";
                    tableText.style.height = "0";
                    tableShow.style.height = "0";
                    tableDecor.style.height = "0";
                    tableScreen.style.height = "auto";
                    tableButton.style.height = "0";
                    break;
                case "Button":
                    tableId.style.height = "auto";
                    tableText.style.height = "auto";
                    tableShow.style.height = "auto";
                    tableDecor.style.height = "auto";
                    tableScreen.style.height = "0";
                    tableButton.style.height = "auto";
                    break;
                case "Label":
                    tableId.style.height = "auto";
                    tableText.style.height = "auto";
                    tableShow.style.height = "auto";
                    tableDecor.style.height = "auto";
                    tableScreen.style.height = "0";
                    tableButton.style.height = "0";
                    break;
            }

            if (item.getAttribute("type") == "Screen")
            {
                changeScreen(item);
                Array.from(screen_childrens).forEach(
                    (el) => {
                        el.classList.remove("selected");
                        el.classList.remove("drag-resize");
                        document.getElementById("map-children-" + el.getAttribute("id")).classList.remove("map-selected");
                        document.getElementById("map-children-" + selected.getAttribute("id")).classList.add("map-selected");
                    }
                );
                infoType.innerHTML = "Screen";
                infoName.value = item.getAttribute("id");
                infoBgColor.value = fix_color_format(item.style.backgroundColor);
                infoOnVisible.value = item.getAttribute("onVisible");
            } else {
                Array.from(screen_childrens).forEach(
                    (el) => {
                        el.classList.remove("selected");
                        el.classList.remove("drag-resize");
                        document.getElementById("map-children-" + el.getAttribute("id")).classList.remove("map-selected");
                    }
                );
                item.classList.add("selected");
                item.classList.add("drag-resize");
                document.getElementById("map-children-" + selected.getAttribute("id")).classList.add("map-selected");
                infoType.innerHTML = item.getAttribute("type");
                infoName.value = item.getAttribute("id");
                infoText.value = item.innerHTML;
                infoX.value = item.getAttribute("data-x");
                infoY.value = item.getAttribute("data-y");
                infoW.value = item.style.width.replace(/\D/g,'');
                infoH.value = item.style.height.replace(/\D/g,'');
                infoZ.value = item.style.zIndex;
                infoFill.value = fix_color_format(item.style.backgroundColor);
                infoColor.value = fix_color_format(item.style.color);
                infoFontSize.value = item.style.fontSize.replace(/\D/g,'');
                infoBorder.value = item.style.border;
                infoBorderRadius.value = item.style.borderRadius.replace(/\D/g,''); 
                infoBgImage.value = getComputedStyle(item).backgroundImage;
                infoOnClick.value = item.getAttribute("onClickALT");
            }
            document.dispatchEvent(new CustomEvent("item-clicked",{
                "detail":{
                    "id": item.getAttribute("id"),
                    "type": item.getAttribute("type"),
                    "element": item
                }
            }));
        }
        
        function refresh_map(){
            screen_childrens = virtualScreen.querySelectorAll(":scope > div, :scope > div > div");
            map_childrens = map.getElementsByTagName("div");
            for (i = 0; i < screen_childrens.length; i++){
                if (screen_childrens[i].getAttribute("class") == "Screen"){
                    screen_id = screen_childrens[i].getAttribute("id");
                    if (document.getElementById("map-screen-for-" + screen_id) == null){
                        map.innerHTML += '<div id="map-screen-for-' + screen_id + '" class="list-group-item"></div>';
                        document.getElementById("map-screen-for-" + screen_id).innerHTML += '<div class="map-screen" id="map-children-' + screen_id + '" point="' + screen_id + '"><span class="icon">® </span>' + screen_id + '</div>';
                        document.getElementById("map-screen-for-" + screen_id).innerHTML += '<div id="map-childrens-for-' + screen_id + '" expand="true" style="overflow: hidden;"></div>';
                    }
                    current_map_childrens = document.getElementById("map-childrens-for-" + screen_id);
                    current_map_childrens_list = current_map_childrens.getElementsByTagName("div");
                    current_screen_childrens = document.getElementById(screen_id).querySelectorAll(":scope > div");

                    if (current_map_childrens.getAttribute("expand") == "true"){
                        current_map_childrens.style.height = "auto";
                    } else {
                        current_map_childrens.style.height = "0";
                    }

                    for (x = 0; x < current_screen_childrens.length; x++){
                        if (document.getElementById("map-children-" + current_screen_childrens[x].getAttribute("id")) == null){
                            switch(current_screen_childrens[x].getAttribute("class").split(" ")[0]){
                                case "Button":
                                    print_icon = "0 ";
                                    break;
                                case "Label":
                                    print_icon = "S  ";
                                    break;
                            }
                            current_map_childrens.innerHTML += '<div class="map-children" id="map-children-'+ current_screen_childrens[x].getAttribute("id") +'" point="'+ current_screen_childrens[x].getAttribute("id") +'"><span class="icon">' + print_icon + '</span>'+ current_screen_childrens[x].getAttribute("id") +'</div>';
                        }          
                        
                    }
                    for (x = 0; x < current_map_childrens_list.length; x++){
                        if(document.getElementById(current_map_childrens_list[x].getAttribute("point")) == null)
                            current_map_childrens_list[x].remove();
                    }
                }
            }
            refresh_screens();
        }

        function insert(type){
            switch (type) {
                case "label":
                    while(document.getElementById("Label" + currentId) != null){
                        currentId++;
                    }
                    var label = document.createElement("div");
                    label.innerHTML = "Text";
                    label.setAttribute("class", "Label");
                    label.setAttribute("type", "Label");
                    label.setAttribute("id", "Label" + currentId);
                    label.setAttribute("data-x", "64");
                    label.setAttribute("data-y", "64");
                    label.style.display = "flex";
                    label.style.width = "160px";
                    label.style.height = "64px";
                    label.style.position = "absolute";
                    label.style.transform = "translate(64px, 64px)";
                    label.style.color = "#000";
                    label.style.backgroundRepeat = "no-repeat";
                    label.style.backgroundAttachment = "fixed";
                    label.style.backgroundSize = "contain";
                    label.style.fontSize = "15px";
                    label.style.boxSizing = "border-box";
                    label.style.userSelect = "none";
                    currentScreen.appendChild(label);
                    refresh_map();
                    document.dispatchEvent(new CustomEvent("item-created", {"detail":{"id": label.getAttribute("id"), "type": type}}));
                    return label.getAttribute("id");
                    break;
                case "button":
                    while(document.getElementById("Button" + currentId) != null){
                        currentId++;
                    }
                    var button = document.createElement("div");
                    button.innerHTML = "Button";
                    button.setAttribute("class", "Button");
                    button.setAttribute("type", "Button");
                    button.setAttribute("id", "Button" + currentId);
                    button.setAttribute("data-x", "64");
                    button.setAttribute("data-y", "64");
                    button.setAttribute("onClickALT", "null");
                    button.style.display = "flex";
                    button.style.width = "160px";
                    button.style.height = "64px";
                    button.style.justifyContent = "center";
                    button.style.alignItems = "center";
                    button.style.position = "absolute";
                    button.style.transform = "translate(64px, 64px)";
                    button.style.color = "#fff";
                    button.style.backgroundColor = "rgb(56, 96, 178)";
                    button.style.backgroundRepeat = "no-repeat";
                    button.style.backgroundAttachment = "fixed";
                    button.style.backgroundSize = "contain";
                    button.style.border = "2px solid rgba(0, 0, 0, 0.2)";
                    button.style.borderRadius = "10px";
                    button.style.fontSize = "15px";
                    button.style.boxSizing = "border-box";
                    button.style.userSelect = "none";
                    currentScreen.appendChild(button);
                    refresh_map();
                    document.dispatchEvent(new CustomEvent("item-created", {"detail":{"id": button.getAttribute("id"), "type": type}}));
                    return button.getAttribute("id");
                    break;
                
                case "screen":
                    while(document.getElementById("Screen" + currentId) != null){
                            currentId++;
                    }
                    var screen = document.createElement("div");
                    screen.setAttribute("screen", "");
                    screen.setAttribute("class", "Screen");
                    screen.setAttribute("type", "Screen");
                    screen.setAttribute("name", "Screen" + currentId);
                    screen.setAttribute("id", "Screen" + currentId);
                    screen.style.position = "relative";
                    screen.style.width = "100%";
                    screen.style.height = "100%";
                    screen.style.overflow = "hidden";
                    screen.style.backgroundColor = "#fff";
                    virtualScreen.appendChild(screen);
                    currentScreen = document.getElementById(screen.getAttribute("id"));
                    refresh_map();
                    click(document.getElementById(screen.getAttribute("id")));
                    document.dispatchEvent(new CustomEvent("item-created", {"detail":{"id": screen.getAttribute("id"), "type": type}}));
                    return screen.getAttribute("id");
                    break;
            
                default:
                    break;
            } 
        }

        function loadXML(){
            var parser = new DOMParser();
            var xmlDoc = parser.parseFromString(xml, "text/xml");
            var app = xmlDoc.getElementsByTagName("App")[0];
            if (app.getAttribute("OAVer") != current_ver){
                alert("It seems that this app was created with an older version of Other Apps\nYou can still run and edit the app, but it MAY NOT work correctly.\nApp's version: " + app.getAttribute("OAVer") +"\nYour current OtherApp version: " + current_ver);
            }
            var screens = xmlDoc.getElementsByTagName("Screen");
            for (i = 0; i < screens.length; i++){
                var screen = document.createElement("div");
                screen.setAttribute("id", screens[i].getAttribute("Name"));
                screen.setAttribute("name", screen.getAttribute("id"));
                screen.setAttribute("screen", "");
                screen.setAttribute("class", "Screen");
                screen.setAttribute("type", "Screen");
                screen.setAttribute("style", decodeURI(screens[i].getAttribute("Style")));
                screen.setAttribute("onVisible", decodeURI(screens[i].getAttribute("OnVisible")));
                virtualScreen.appendChild(screen);
                current_screen_childrens = screens[i].getElementsByTagName("Children");
                for (x = 0; x < current_screen_childrens.length; x++) {
                    var children = document.createElement("div");
                    children.setAttribute("class", current_screen_childrens[x].getAttribute("Type"));
                    children.setAttribute("type", current_screen_childrens[x].getAttribute("Type"));
                    children.setAttribute("id", current_screen_childrens[x].getAttribute("Name"));
                    children.setAttribute("style", decodeURI(current_screen_childrens[x].getAttribute("Style")));
                    children.setAttribute("onClickALT", decodeURI(current_screen_childrens[x].getAttribute("OnSelect")));
                    children.setAttribute("data-x", current_screen_childrens[x].getAttribute("X"));
                    children.setAttribute("data-y", current_screen_childrens[x].getAttribute("Y"));
                    children.innerHTML = decodeURI(current_screen_childrens[x].getAttribute("Text"));
                    screen.appendChild(children);
                }
            }
            refresh_map();
            click(document.getElementById(app.getAttribute("DefaultScreen")));
            infoDefaultScreen.value = app.getAttribute("DefaultScreen");
            infoAppName.value = app.getAttribute("DisplayName");
            infoAppW.value = app.getAttribute("Width");
            infoAppH.value = app.getAttribute("Height");
            virtualScreen.style.width = infoAppW.value + 'px';
            virtualScreen.style.minWidth = infoAppW.value + 'px';
            virtualScreen.style.height = infoAppH.value + 'px';

        }

        interact('#nav-sidebar').resizable({
            edges: { left: false, right: true, bottom: false, top: false },
            listeners: {
                move (event) {
                    var target = event.target
                    target.style.width = event.rect.width + 'px'
                }
            },
            modifiers: [
                interact.modifiers.restrictEdges({outer: 'parent'}),
                interact.modifiers.restrictSize({min: { width: 128 }, max: { width: 512 }})
            ],
        })

        interact('#control-sidebar').resizable({
            edges: { left: true, right: false, bottom: false, top: false },
            listeners: {
                move (event) {
                    var target = event.target
                    target.style.width = event.rect.width + 'px'
                }
            },
            modifiers: [
                interact.modifiers.restrictEdges({outer: 'parent'}),
                interact.modifiers.restrictSize({min: { width: 128 }, max: { width: 512 }})
            ],
        })

        interact('.drag-resize')
        .resizable({
            // resize from all edges and corners
            edges: { left: true, right: true, bottom: true, top: true },

            listeners: {
            move (event) {
                var target = event.target
                var x = (parseFloat(target.getAttribute('data-x')) || 0)
                var y = (parseFloat(target.getAttribute('data-y')) || 0)

                // update the element's style
                target.style.width = event.rect.width + 'px'
                target.style.height = event.rect.height + 'px'

                // translate when resizing from top or left edges
                x += event.deltaRect.left
                y += event.deltaRect.top

                target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

                target.setAttribute('data-x', x)
                target.setAttribute('data-y', y)
            }
            },
            modifiers: [
            // keep the edges inside the parent
            interact.modifiers.restrictEdges({
                outer: 'parent'
            }),

            // minimum size
            interact.modifiers.restrictSize({
                min: { width: 32, height: 32 }
            })
            ],
        })
        .draggable({
            listeners: { move: window.dragMoveListener },
            modifiers: [
            interact.modifiers.restrictRect({
                restriction: 'parent',
                endOnly: true
            })
            ]
        })

        function dragMoveListener (event) {
            var target = event.target
            // keep the dragged position in the data-x/data-y attributes
            var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
            var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

            // translate the element
            target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

            // update the posiion attributes
            target.setAttribute('data-x', x)
            target.setAttribute('data-y', y)
            }

        // this function is used later in the resizing and gesture demos
        window.dragMoveListener = dragMoveListener

        new Sortable(document.getElementById("control-map"), {
            animation: 150,
        });

        loadXML();
    </script>
</body>
</html>
