<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body style="margin: 0;">
        <div id="virtual-screen" name="" style="position: relative;"></div>
        <script src="/static/js/global.js"></script>
        <script src="/static/js/builtinFunctions.js"></script>
        <script src="/static/js/LibreLists.js"></script>
        {% for addon in addons %}
            <script src="{{ addon }}"></script>
        {% endfor %}
        <script>
            var screen = document.getElementById("screen");
            var defaultScreen = "{{ s }}";
            var currentScreen;
            var compConfig = {};
            const virtualScreen = document.getElementById("virtual-screen");

            async function loadXML() {
                const appData = await getCompData("{{ id }}", "{{ component }}");

                generateApp(virtualScreen, appData);

                for (const prop in appData)
                    if(prop.startsWith("@") && !/@xmlns:xsi|@xsi:noNamespaceSchemaLocation/.test(prop))
                        compConfig[prop.substring(1)] = appData[prop];

                virtualScreen.setAttribute("name", compConfig["displayname"]);
                virtualScreen.style.width = compConfig["width"] + 'px';
                virtualScreen.style.height = compConfig["height"] + 'px';

                for (const item of virtualScreen.querySelectorAll("[id]")) {
                    try {
                        eval("_" + validateName(item.getAttribute("id")) + " = document.getElementById('" + item.getAttribute("id") + "')")
                    } catch (error) {
                        break;
                    }
                }

                if (! defaultScreen) 
                    navigate(document.getElementById(compConfig["defaultscreen"]));
                else 
                    navigate(document.getElementById(defaultScreen));
                

                document.dispatchEvent(new CustomEvent("app-loaded", {"config": compConfig}));
            }

            loadXML();
        </script>
    </body>
</html>
