<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="margin: 0;">
    <div id="virtual-screen" name="" style="position: relative; background-color: white;"></div>
    <script src="/static/js/builtinFunctions.js"></script>
    <script>
        var screen = document.getElementById("screen");
        //var xmlUrl = {{ id }};
        var xml = {{ xmlfile | safe }};
        var currentScreen;

        const virtualScreen =       document.getElementById("virtual-screen");

        var parser = new DOMParser();
        var xmlDoc = parser.parseFromString(xml, "text/xml");
        var app = xmlDoc.getElementsByTagName("App")[0];
        var childrens = xmlDoc.getElementsByTagName("Children");
        var screens = xmlDoc.getElementsByTagName("Screen");
        for (i = 0; i < screens.length; i++){
            var screen_name = screens[i].getAttribute("Name");
            virtualScreen.innerHTML += '<div class="Screen" name="' + screen_name + '" id="' + screen_name + '" style="' + decodeURI(screens[i].getAttribute("Style")) +'" onVisible="' + decodeURI(screens[i].getAttribute("OnVisible")).replace(/"/g, "&quot;") + '"></div>';
            var screen_element = document.getElementById(screen_name);
            current_screen_childrens = screens[i].getElementsByTagName("Children");
            for (x = 0; x < current_screen_childrens.length; x++) {
                screen_element.innerHTML += '<div class="' + current_screen_childrens[x].getAttribute("Type") + ' resize-drag" ' +
                                        'id="' + current_screen_childrens[x].getAttribute("Name") + '" ' +
                                        'style="' + decodeURI(current_screen_childrens[x].getAttribute("Style")).replace(/"/g, "&quot;") + '" ' +
                                        '" onClick="' + decodeURI(current_screen_childrens[x].getAttribute("OnSelect")).replace(/"/g, "&quot;") + '" ' +
                                        'data-x="' + current_screen_childrens[x].getAttribute("X") + '" ' +
                                        'data-y="' + current_screen_childrens[x].getAttribute("Y") + '" ' +
                                        '>' + decodeURI(current_screen_childrens[x].getAttribute("Text")) +'</div>';        
            }
        }
        virtualScreen.setAttribute("name", app.getAttribute("DisplayName"));
        virtualScreen.style.width = app.getAttribute("Width") + 'px';
        virtualScreen.style.height = app.getAttribute("Height") + 'px';
        Array.from(virtualScreen.getElementsByTagName("div")).forEach((item) => {
            eval("_" + item.getAttribute("id") + " = document.getElementById('" + item.getAttribute("id") + "')")
        });

        navigate(app.getAttribute("DefaultScreen"));
    </script>
</body>
</html>