<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Other Apps | Home</title>
    <style>
        body{
            background-color: var(--background-3);
            color: var(--text);
        }
    </style>
</head>
<body>
    <div class="window" id="about-window" style="width: 50%; visibility: hidden;">
        <div class="horizontal-container space-between">
            <span style="font-size: 24px;">About version {{ ver }}</span>
            <button onclick="document.getElementById('about-window').style.visibility = 'hidden';">X</button>
        </div>
        <button onclick="document.getElementById('about-page1').style.height = '400px'; document.getElementById('about-page2').style.height = '0'; document.getElementById('about-page3').style.height = '0';">About</button>
        <button onclick="document.getElementById('about-page1').style.height = '0'; document.getElementById('about-page2').style.height = '400px' ; document.getElementById('about-page3').style.height = '0';">Third-party scripts</button>
        <button onclick="document.getElementById('about-page1').style.height = '0'; document.getElementById('about-page2').style.height = '0' ; document.getElementById('about-page3').style.height = '400px';">Change-log</button><br>
        <hr>
        <div style="position: relative; height: 400px;">
            <iframe id="about-page1" src="/static/about/about.html" frameborder="0" style="position: absolute; height: 400px; width: 100%; overflow: hidden;"></iframe>
            <iframe id="about-page2" src="/static/about/third-party.html" frameborder="0" style="position: absolute; height: 0; width: 100%; overflow: hidden;"></iframe>
            <iframe id="about-page3" src="/static/about/changelog.html" frameborder="0" style="position: absolute; height: 0; width: 100%; overflow: hidden;"></iframe>

        </div>
    </div>
    <div class="window" id="newapp-window" style="width: 30%; visibility: hidden;">
        <div class="horizontal-container space-between">
            <span style="font-size: 24px;">New App</span>
            <button onclick="document.getElementById('newapp-window').style.visibility = 'hidden';">X</button>
        </div>
        <div class="form-table">
            <table>
                <tr>
                    <td>App Name</td>
                    <td><input type="text" id="app-id"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="primary" onclick="check_save()">Create</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="vertical-container">
        <div id="tool-bar" class="navbar">
            <a class="home" href="{{ url_for('index') }}">Other Apps</a>
            <a href="#" onclick="document.getElementById('newapp-window').style.visibility = 'visible'">New App</a>
            <a href="{{ url_for('database_menu') }}" target="_blank">Database manager</a>
            <a href="#" onclick="document.getElementById('about-window').style.visibility = 'visible'">About</a>
        </div>
        <div class="vertical-container">
            <div id="app-list">
                <h2>Your Apps</h2>
                <table>
                    {% for project in projects %}
                    <tr>
                        <td class="app-row">
                            <div class="horizontal-container space-between">
                                <a id="{{ project }}" href="{{ url_for('play', id=project, screen=1) }}">{{ project }}</a>
                                <div>
                                    <a href="{{ url_for('edit', id=project )}}">Edit</a>
                                    <a class="error" href="#" onclick="delete_p('{{ project }}')">Delete</a>
                                </div>
                            </div>  
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% for addon in addons %}
    <script src="{{addon}}"></script>
    {% endfor %}
    <script>
        var urlsave = "/save";
        var forbiddenchars = /[`!@#$%^&*()+=\[\]{};':"\\|,.<>\/?~ ]/;
        const appId = document.getElementById("app-id");

        function delete_p(sid){
            if(confirm("Are you sure you want to delete " + sid + "?")){
                window.location = "/remove/" + sid;
                alert(sid + " has been removed");
            }
        }

        appId.addEventListener('input', () => {
            if ( ! appId.value || forbiddenchars.test(appId.value) || document.getElementById(appId.value) != null){
                appId.classList.add("error");
            } else {
                appId.classList.remove("error");
            }
        })

        function check_save(){
            if ( ! appId.value){
                alert("Can't create this app\nIt doesn't have a name")
            } else if (forbiddenchars.test(appId.value)){
                alert("Can't create this app\nIt contains special characters")
            } else if (document.getElementById(appId.value) != null){
                alert("Can't create " + appId.value + "\nThis app already exists");
            } else {
                save();
            }
        }

        function save(){
            xmldata = '<App DisplayName="My App" DefaultScreen="Screen0" Width="800" Height="480" OAVer="{{ ver }}"><Screen Name="Screen0" Style="position:%20relative;%20width:%20100%25;%20height:%20100%25;%20overflow:%20hidden;%20background-color:%20rgb(255,%20255,%20255);" OnVisible=""></Screen></App>';
            fetch(urlsave, {
                method: "POST",
                body: JSON.stringify({
                    "id": appId.value,
                    "xmldata": xmldata,
                    "screen" : 1
                }),
                headers: {"Content-type": "application/json; charset=UTF-8"}
            })
            .then(response => console.log(response)) 
            .then(alert("App " + appId.value + " created"))
            .catch(err => console.log(err));
            location.reload();
        }
    </script>
</body>
</html>
