<!-- This file only work in Other Apps < 0.3 -->
<!-- This file is deprecated, now we use config/addons.yml -->
<script src="/static/addons/extraToolbar.js"></script> 	<!-- Extra toolbar in your app -->
<script src="/static/addons/extraInsert.js"></script>	<!-- More items to add in the Insert list -->
<script src="/static/addons/extraEditor.js"></script>	<!-- More options for your code editor -->
<script src="/static/addons/extraEdits.js"></script>	<!-- More options for your app items -->
<script src="/static/addons/keyboard.js"></script>		<!-- Add keyboard shortcuts in your editor -->
<script src="/static/addons/dblclick.js"></script>		<!-- Open code editor when you double click an item -->
<script src="/static/addons/unsave.js"></script>		<!-- Show "unsaved changes" dialog when you close the editor -->
